body {
  text-align: center;
  /* margin: auto; */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 3, 63, 1) 0%,
    rgba(77, 161, 179, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(32, 104, 130, 1) 25%,
    rgba(3, 143, 210, 1) 53%,
    rgba(3, 143, 210, 1) 72%,
    rgba(3, 143, 210, 1) 90%
  );  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
